@keyframes modalShow{
    0% { opacity: 0; transform: translateY(-150%); }
    50% { opacity: .8; transform: translateY(100%); }
    100% { opacity: 1; transform: translateY(0); }
}

@keyframes modalHide{
    0% { opacity: 1; transform: translateY(0); }
    50% { opacity: .8; transform: translateY(100%); }
    100% { opacity: 0; transform: translateY(-150%); }
}

.Modal{
    background: #EEE;
    border: 1px solid #aaa;
    width: 300px;
    left: 50%;
    margin-left: -150px;
    position: fixed;
}

.Modal.modal-show{
    animation: modalShow 1000ms forwards;
}

.Modal.modal-hide{
    animation: modalHide 2000ms forwards;
}

.Modal .Modal-title{
    background: #CCC;
    padding: .3rem;
    border-bottom: 2px solid #FFF;
}

.Modal .Modal-text{
    padding: .3rem;
    margin: .3rem 0;
}

.Modal .Modal-buttons{
    border-top: 2px solid #CCC;
    padding: .3rem;
}

.Modal .Modal-buttons button{
    border: 1px solid #444;
    background: #FFF;
    margin: .1rem;
}

.Modal .Modal-buttons button:hover,
.Modal .Modal-buttons button:focus{
    background: #EEE;
}

.List {
    margin: 10px;
    padding: 0;
    list-style: none;
    width: 250px;
}

.ListItem {
    background: #8f8f;
    border: #444;
    padding: 10px;
    margin: 3px;
}

.fade-enter{
    opacity: 0;
}

.fade-enter-active{
    transition: opacity 500ms ease-out;
    opacity: 1;
}

.fade-exit{
    opacity: 1;
}

.fade-exit-active {
    transition: opacity 500ms ease-out;
    opacity: 0;
}