.user{
    background: #EEE;
    border:1px solid #666;
    padding: 5px;
    font-size: 2rem;
    margin: auto;
    margin-bottom: 1rem;
    text-align: center;
    display: block;
    position: relative;
    width: 400px;
}

.user label{
    width: 120px;
    border-right: 2px solid #888;
    color: #444;
    display: inline-block;
    background: #FFF;
}

.user span{
    width: 278px;
    color: #444;
    display: inline-block;
}

.user button.remove{
    display: block;
    position: absolute;
    right: 3px;
    top: 3px;
    background: lightcoral;
    border: 1px solid rgb(124, 5, 5);
}

.user button.remove:hover,
.user button.remove:focus{
    display: block;
    position: absolute;
    right: 3px;
    top: 3px;
    background: rgb(197, 12, 12);
    border: 1px solid rgb(228, 55, 55);
}